cpp/build/*
cpp/.vscode/*
cpp/.cache/*
cpp/.idea/*
cpp/conan.lock
cpp/conaninfo.txt
cpp/conanbuildinfo.txt
cpp/graph_info.json
go/.vscode/*
go/.idea/*
compile_commands.json
CMakeUserPresets.json
.vscode/*
go/internal/core/output/*
scala-test/project/*
scala-test/target/*
.metals/*