cpp/build/*
cpp/debug_build
cpp/.vscode/*
cpp/.cache/*
cpp/.idea/*
cpp/coverage/*
cpp/conan.lock
cpp/conaninfo.txt
cpp/conanbuildinfo.txt
cpp/graph_info.json
go/.vscode/*
go/.idea/*
compile_commands.json
CMakeUserPresets.json
.vscode/*
go/internal/core/output/*
java/project/*
java/target/*
.metals/*
java/libmilvus-storage-jni.so
dist/*
java/native/*
rust/target/*
python/*.egg-info/
python/__pycache__/
python/**/__pycache__/
python/*.pyc
python/.pytest_cache/
python/build/
python/dist/
python/.venv/
python/venv/
python/env/

