bottle==0.12.25
certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
conan==1.64.1
fasteners==0.19
idna==3.7
Jinja2==3.1.4
MarkupSafe==2.1.5
node-semver==0.6.1
patch-ng==1.17.4
pluginbase==1.0.1
Pygments==2.18.0
PyJWT==2.8.0
python-dateutil==2.9.0.post0
PyYAML==6.0.1
requests==2.32.1
six==1.16.0
tqdm==4.66.4
urllib3==1.26.18
