name: Go CI

on:
  push:
    -pachs:
      -'go/**'
      -'!cpp/**'
    branches:
      - main
  pull_request:
    -pachs:
      -'go/**'
      -'!cpp/**'
    branches:
      - main

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18

      - name: Install dependencies
        run: cd go && go mod download

      - name: Run tests
        run: cd go && go test -v ./...
