name: cpp

on:
  push:
   paths:
    - 'cpp/**'
    - '.github/workflows/cpp-ci.yml'
  pull_request:
   paths:
    - 'cpp/**'
    - '.github/workflows/cpp-ci.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        uses: aminya/setup-cpp@v1
        with: 
          conan: 1.64.0
          cmake: true

      - name: Setup Rust
        id: rust-toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: rust build cache
        uses: actions/cache@v4
        with:
          path: |
            cpp/build/Release/cargo/build
          key: storage-bridge-rust-${{ runner.os }}-${{ steps.rust-toolchain.outputs.cachekey }}-${{ hashFiles('cpp/src/format/bridge/rust/Cargo.lock', 'cpp/src/format/bridge/rust/Cargo.toml') }}
          restore-keys: |
            storage-bridge-rust-${{ runner.os }}-${{ steps.rust-toolchain.outputs.cachekey }}-

      - name: setup conan
        run: 
          conan remote add default-conan-local https://milvus01.jfrog.io/artifactory/api/conan/default-conan-local --insert
          && conan remote list
      
      - name: conan package cache
        uses: actions/cache@v4
        with:
          path: ~/.conan
          key: conan-cpp-${{ hashFiles('./cpp/conanfile.py') }}
          restore-keys: conan-cpp-

      - name: Build
        working-directory: ./cpp
        run: |
          make build USE_ASAN=True BUILD_TYPE=Release

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: gtest-binary
          path: |
            cpp/build/Release/test/milvus_test
            cpp/build/Release/test/Test_FFI
            cpp/build/Release/libs/
            cpp/build/Release/libmilvus-storage.so*
            cpp/build/Release/**/*.gcno

  lint:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        uses: aminya/setup-cpp@v1
        with:
          conan: 1.64.0
          cmake: true

      - name: Setup Rust
        id: rust-toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: rust build cache
        uses: actions/cache@v4
        with:
          path: |
            cpp/build/Release/cargo/build
          key: storage-bridge-rust-${{ runner.os }}-${{ steps.rust-toolchain.outputs.cachekey }}-${{ hashFiles('cpp/src/format/bridge/rust/Cargo.lock', 'cpp/src/format/bridge/rust/Cargo.toml') }}
          restore-keys: |
            storage-bridge-rust-${{ runner.os }}-${{ steps.rust-toolchain.outputs.cachekey }}-

      - name: setup conan
        run:
          conan remote add default-conan-local https://milvus01.jfrog.io/artifactory/api/conan/default-conan-local --insert
          && conan remote list

      - name: conan package cache
        uses: actions/cache@v4
        with:
          path: ~/.conan
          key: conan-cpp-${{ hashFiles('./cpp/conanfile.py') }}
          restore-keys: conan-cpp-

      - name: Build
        working-directory: ./cpp
        run: |
          make build BUILD_TYPE=Release

      - name: check-tidy
        working-directory: ./cpp
        run: |
          make check-tidy

  unittest:
    runs-on: ubuntu-22.04
    needs: build
    steps:
      - uses: actions/checkout@v4

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: gtest-binary
          path: ./cpp/build/Release

      - name: Install coverage tools
        run: |
          sudo apt-get update && sudo apt-get install -y lcov

      - name: Change mod of binary
        working-directory: ./cpp
        run: |
          chmod +x ./build/Release/test/milvus_test
          chmod +x ./build/Release/test/Test_FFI

      - name: Setup Minio
        run: |
          chmod +x ./cpp/scripts/setup_minio.sh
          ./cpp/scripts/setup_minio.sh

      - name: Run unittest with local filesystem
        working-directory: ./cpp
        run: |
          export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$(pwd)/build/Release:$(pwd)/build/Release/libs
          ./build/Release/test/milvus_test && ./build/Release/test/Test_FFI
          
      - name: Run unittest with minio
        working-directory: ./cpp
        run: |
          export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$(pwd)/build/Release:$(pwd)/build/Release/libs
          source ./scripts/minio_env.sh && ./build/Release/test/milvus_test
          
      - name: coverage-report
        working-directory: ./cpp
        run: |
          BUILD_TYPE=Release ./scripts/coverage-report.sh

      - name: Upload coverage to Codecov
        if: ${{ github.repository == 'milvus-io/milvus-storage' }}
        uses: codecov/codecov-action@v4
        id: storage-upload-cov
        with:
          files: cpp/coverage/coverage_filtered.info
          token: ${{ secrets.MILVUS_STORAGE_CODECOV_TOKEN }}
          name: storage-ubuntu-22.04-unittests
          fail_ci_if_error: true
          disable_safe_directory: true
          verbose: true
      - name: Retry Upload coverage to Codecov
        if: ${{ failure() && github.repository == 'milvus-io/milvus-storage' }}
        uses: codecov/codecov-action@v4
        id: storage-retry-upload-cov
        with:
          token: ${{ secrets.MILVUS_STORAGE_CODECOV_TOKEN }}
          files: cpp/coverage/coverage_filtered.info
          name: storage-ubuntu-22.04-unittests
          fail_ci_if_error: true
          disable_safe_directory: true
          verbose: true


